 html, body{height: 100%;
    background-color: rgb(229, 122, 170);
    color: white;
}
    .corpo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
    img{
        width: 400px;
        height: 200px;
    }
    .rosa{
    color: rgb(65, 27, 44);
    }
    .texto{
      width: 50%;
      min-width: 50%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .texto h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .paragrafo{
        font-size: 25px;
    }
    .codigo{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .codigo span{
      display: inline-block;
      padding: 15px 50px;
      border: 4px solid rgb(65, 27, 44);
      background-color: rgb(65, 27, 44);
      border-radius: 9999px;
      font-size: 30px;
      font-weight: bold;
      color: white;
      
    }
    @media screen and (max-width: 768px){
        img{
            width: 90% !important;
            height: auto !important;
        }
        .texto{
            width: 95% !important;
            min-width: 95% !important;
            padding: 20px 10px !important;
        }
        .texto h1{
            font-size: 1.8em;
            margin-bottom: 10px;
        }
        .paragrafo{
            font-size: 1.1em;
        }
        .codigo span{
            padding: 10px 20px;
            font-size: 1.2em;
        }
    }